<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b07_final_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07finalproject"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize">
        <activity
            android:name=".customer_dashboard.Order_List_Customer"
            android:exported="false" />
        <activity
            android:name=".customer_dashboard.All_Products"
            android:exported="false" />
        <activity
            android:name=".customer_dashboard.All_Store"
            android:exported="false" />
        <activity
            android:name=".owner_dashboard.My_Products"
            android:exported="false" />
        <activity
            android:name=".owner_dashboard.Add_New_Product"
            android:exported="false" />
        <activity
            android:name=".owner_dashboard.SignUp_Owner"
            android:exported="false" />
        <activity
            android:name=".owner_dashboard.Login_Owner"
            android:exported="false" />
        <activity
            android:name=".owner_dashboard.Main_Owner"
            android:exported="false" />
        <activity
            android:name=".customer_dashboard.SignUpCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".owner_dashboard.OrderPage"
            android:exported="false"
            android:label="OrderNumber"
            android:parentActivityName=".owner_dashboard.Order_List_Owner" />
        <activity
            android:name=".owner_dashboard.Order_List_Owner"
            android:label="Orders"
            android:parentActivityName=".customer_dashboard.Main_Customer" />
        <activity
            android:name=".customer_dashboard.Main_Customer"
            android:exported="false" />
        <activity
            android:name=".customer_dashboard.LoginCustomerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>